<div class="container">
<header>
  <h1>Registration Numbers App</h1>
  <p>using javascript with Handlebars</p>
</header>

<div class="row">
  <div class="twelve columns">
    <div class="heading">
      <h5>This side is for a static HTML</h5>
    </div>
    <form action="/reg_number" method="post">
    <div class="box">
      <label for="">Registration Number:</label>
      <input type="text" name="enteredReg" class="EnterReg" placeholder="Enter registration Number" required title="please make sure you enter registration number">
      <button type="submit" class="AddReg">Add</button>
      <div class="messageDisplay">
      </div>
    </div>
    <div class="box">
      <label for="">Select Town:</label>
      <div class="selectedTown">
        <select  onchange="selectTown()" name="townName" class="townName" >
          <option value="All" >AllTown</option>
           {{#each filterbyTown}}
            <option value="{{town_tag}}" {{selectedTag}} >{{town_name}}</option>
           {{/each}}
        </select>
        <div>  
        </div>
     <a href="/reset"><button type="button" class="clearBtn">clear</button></a> 
      </div>
        </form>
    </div>
     
    <div class=" fitbox">
      {{!-- <div class="displayReg displayList" > --}}
        {{!-- <ul class="displayList" id="demo"> --}}
          {{#each reglist}}
          <li>
              {{reg_number}}
              {{filterbyTown}}
              </li>
              {{/each}}
        {{!-- </ul> --}}
      {{!-- </div> --}}
    </div>
    
  </div>
</div>

</div>



<script>
function selectTown(){
    var tag = document.querySelector(".townName");
    var select ="selected";
    location.href = '/filter/' + tag.value;
}
</script>
